@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-foreground: #000000;
  --color-primary: #573a7c;
  --color-secondary-foreground: #374151;
  --color-border: #e5e7eb;
}

.dark {
  --color-background: #000000;
  --color-foreground: #ededed;
  --color-primary: #9173bb;
  --color-secondary-foreground: #a1a1aa; /* Refactored: lighter gray for dark mode */
  --color-border: #27272a;
}
